<div class = "login">
<h1>GA Search Engine</h1>
<h2 class = "hire"> Hire. Get Hired.</h2>

<%= form_tag session_path, :method => :post do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %><br />

  <%= label_tag :password %>
  <%= password_field_tag :password %><br />

  <%= submit_tag "Login" %>
<% end %>
</div>
