<h2>Search for a Post:</h2> 

<%= render 'form_search' %> 
<% if !@selected_posts.nil? %>
   <h3>Employer POST Results:</h3>
   <% @selected_posts.each do |post| %>
      <% if post.for_hire == true %>  
         <div class="post">
            <h3><%= post.user.name %></h3>
            <p>For Hire: <%= post.user_id %></p>
            <p><%= post.created_at.strftime("%b. %d %Y") %></p>
            <p>Description:<br />
            <%= post.description %></p>
         </div>
      <% end %> 
   <% end %> 
<% end %>
