  <h1><%= current_user.name %></h1>
<div class="student">
  <div class="column-50">
    

    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
  </div>
    <div class="column-50">
    <p><%= current_user.email %></p>
    <p><%= current_user.phone %></p>
    <p><%= current_user.name %></p>
    <p><%= current_user.github_url %></p>
    <p><%= current_user.portfolio_url %></p>

    <p>RESUME: <%= link_to "Doc", current_user.resume.url %>
    <p><img src="<%= current_user.photo.url %>" /></p>

    <p><%= @current_user.summary %></p>
  </div>
</div>