<%= javascript_include_tag "user_profile" %>

<div class="student">

  <div class="column-30">
    <p><img src="<%= @student.photo.url %>" /></p>
    <p><span class="sans"><%= @student.type %></span></p>
  </div>

  <div class="column-70">
    <h2 class="largetext"><%= @student.name %></h2>

    <p>Email: <%= @student.email %></p>
   
    <p>Resum&#233;: 
      <% if @student.resume_file_name %>
        <%= link_to @student.resume_file_name, @student.resume.url %>
      <% else %>
        <%= link_to "Add Resume", edit_student_path(@student) %>
      <% end %>
    </p>   
  </div>

  <div id="menu">
    <ul>
      <li><span id="aboutButton">About Me</span></li>
      <li><span id="contactButton">Find Me</span></li>
      <li><span id="mypostsButton">My POSTs</span></li>
    </ul>
  </div>

  <div id="about">
    <p class="summary-text"><%= @student.summary %></p>
  </div>

  <div id="contact">
    <h2><%= @student.name %></h2>
    <div class="column-50">
      <p><%= @student.city + ", " + @student.state unless @student.city.nil? || @student.city == "" %></p>

      <p><%= @student.email %></p>
      <p><%= @student.phone unless @student.phone.nil? %></p>
    </div>
    <div class="column-50">
      <p>Github: <%= link_to @student.github_url, "http://github.com/" + @student.github_url unless @student.github_url.nil? %></p>
      <p>Portfolio: <%= link_to @student.portfolio_url, "http://" + @student.portfolio_url unless @student.portfolio_url.nil? %></p>
    </div>
  </div>

  <div id="myposts">
    <a name="my-posts"></a>
    <h3 class="my_posts">My POSTs:</h3>
   
      <% @student.posts.each do |post| %>
       <div class="post-sm" >
          <h4><em>For Hire</em></h4>
          <p>Position: <span> <%= post.position_type %></span></p>
          <p>Description: <span><%= post.description %></span></p>
          <p>Date: <span><%= post.created_at.strftime("%b. %d %Y") %></span></p>
          <p class="fullpost"><%= link_to "Full POST", post_path(post.id) %></p>
       </div>
    <% end %>
  </div>

</div>

