  <h1><%= current_user.name %></h1>
   <%= link_to "Edit Your Profile", edit_student_path %>
<div class="student">
  <div class="column-50">
    

    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
  </div>
    <div class="column-50">
    <p><%= current_user.email %></p>
    <p><%= current_user.phone %></p>
    <p><%= "github URL: " %><%=current_user.github_url %></p>
    <p><%= "Portfolio: " %><%=current_user.portfolio_url %></p>

    <p>Resum&eacute: <%= link_to "Doc", current_user.resume.url %>
    <p><img src="<%= current_user.photo.url %>" /></p>
    <p><%= @current_user.summary %></p>
  </div>
    <h3><%= link_to "Create a Post", new_student_post_path(current_user.id) %></h3>
</div>

