<h3 class = "hire"> GA Job Search Engine</h3>
<hr />
<h2>Create An Account</h2>

<% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
   
  <p>Type: <%= f.select :type, ["Student","Employer"] %></p>
  
  <%= f.text_field :name, :placeholder => "Name" %>

  <%= f.email_field :email, :placeholder => "Email" %>

  <%= f.password_field :password, :placeholder => "Password" %>

  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>

  <% if logged_in? %> 

  <% end %> 

  <%= f.submit logged_in? ? 'Update' : 'Sign Up' %>
<% end %>