<div class= "create_form"><h1>Create A Username:</h1>

<% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
   
   <%= f.label :type %>
  <%= f.select :type, ["Student","Employer"] %><br />

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :email %>
  <%= f.email_field :email %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br />

  <% if logged_in? %> 

  <% end %> 

  <%= f.submit logged_in? ? 'Update' : 'Sign Up' %>
<% end %>
</div>