<%= javascript_include_tag "user_profile" %>

<div class="employer">

  <div class="column-30">
    <p><img src="<%= @employer.photo.url %>" /></p>
    <p><span class="sans"><%= @employer.type %></span></p>
    <p><%= @employer.city + ", " + @employer.state unless @employer.city.nil? %></p>
  </div>

  <div class="column-70">
    <h2 class="largetext"><%= @employer.name %></h2>
    <p><%= "Company Type: " + @employer.company_type unless @employer.company_type.nil? %></p>
    <p><%= "Company Size: " + @employer.company_size unless @employer.company_size.nil? %></p>
    <p>Website: <%= link_to @employer.company_url, "http://" + @employer.company_url unless @employer.company_url.nil? %></p>
    <p><% if @employer.apprentice_partner == true %>
        <%= @employer.name %>
        <span class="sans"> is </span>a GA Apprenticeship Partner</p>
      <% else %>
        <%= @employer.name %>
        <span class="sans"> is not </span>a GA apprenticeship partner</p>
      <% end %>
  </div>

  <div id="menu">
    <ul>
      <li><span id="aboutButton">About</span></li>
      <li><span id="contactButton">Contact</span></li>
      <li><span id="mypostsButton">Our POSTs</span></li>
    </ul>
  </div>

  <div id="about">
    <p class="summary-text"><%= @employer.summary %></p>
  </div>

  <div id="contact">
    <h2><%= @employer.name %></h2>
    <div class="column-50">
      <p><%= @employer.city + ", " + @employer.state unless @employer.city.nil? %></p>
      <p><%= "Company Type: " + @employer.company_type unless @employer.company_type.nil? %></p>
      <p><%= "Company Size: " + @employer.company_size unless @employer.company_size.nil? %></p>
    </div>
    <div class="column-50">
      <p><%= "Phone: " + @employer.phone unless @employer.phone.nil? %></p>
      <p><%= "Email: " +@employer.email %></p>
      <p><%= "Website: " +  @employer.company_url unless @employer.company_url.nil? %></p>
    </div>
  </div>

  <div id="myposts">
    <a name="my-posts"></a>
    <h3 class="my_posts">My POSTs:</h3>
   
    <% @employer.posts.each do |post| %>
      <div class="post-sm" >
        <h4><em>Hiring</em></h4>
        <p>Position: <span> <%= post.position_type %></span></p>
        <p>Description: <span><%= post.description %></span></p>
        <p>Date: <span><%= post.created_at.strftime("%b. %d %Y") %></span></p>
        <p class="fullpost"><%= link_to "Full POST", post_path(post.id) %></p>
      </div>
    <% end %>
  </div>
  
</div>
