<h1>Welcome <%= current_user.name %>!</h1>

<div class="employer">
  <div class="column-50">
    <p></p>
    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
    <p><%= current_user.company_size.capitalize unless current_user.company_size.nil? %></p>
    <p><%= current_user.apprentice_partner %></p>
  </div>

  <div class="column-50">
    <p><%= current_user.name %></p>
    <p><%= current_user.company_type %></p>
    <p><%= current_user.phone %></p>
    <p><%= current_user.email %></p>
    <p><%= current_user.company_url %></p>
  </div>

  <p>
    <%= current_user.summary %>
  </p>
</div>