<h1>Welcome <%= current_user.name %>!</h1>
<% #TODO make it so that only the user can see the edit link while in their own profile so that no one else can see the edit link while looking at other users profile. Call me Ishmael. %>

<div class="employer">
  <div class="column-50">
    <p></p>
    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
    <p><%= "Company Size: " + current_user.company_size unless current_user.company_size.nil? %></p>
    <p><%= current_user.apprentice_partner == true ? current_user.name + " is a GA Apprenticeship Partner" : current_user.name +  " is not an apprenticeship partner" %></p>
  </div>

  <div class="column-50">
    <p><%= "Company Type: " + current_user.company_type unless current_user.company_type.nil? %></p>
    <p><%= "Contact Us: " + current_user.phone unless current_user.phone.nil? %></p>
    <p><%= current_user.email %></p>
    <p><%= "Visit Us Online @: " +  current_user.company_url unless current_user.company_url.nil? %></p>
  </div>
  <p><img src="<%= current_user.photo.url %>" /></p>
  <p>
    <%="About " + current_user.name + ": " +current_user.summary unless current_user.summary.nil? %>
  </p>

  <h3><%= link_to "Create a Post", new_employer_post_path(current_user.id) %></h3>
</div>
</div>

<%= link_to "Edit Your Profile", edit_employer_path %>

