<%= javascript_include_tag "user_profile" %>

<div class="employer">

  <div class="column-30">
    <p><img src="<%= current_user.photo.url %>" /></p>
    <p><span class="sans"><%= current_user.type %></span></p>
    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
  </div>

  <div class="column-70">
    <h2 class="largetext"><%= current_user.name %></h2>
    <p><%= "Company Type: " + current_user.company_type unless current_user.company_type.nil? %></p>
    <p><%= "Company Size: " + current_user.company_size unless current_user.company_size.nil? %></p>
    <p>Website: <%= link_to current_user.company_url, "http://" + current_user.company_url unless current_user.company_url.nil? %></p>
    <p><% if current_user.apprentice_partner == true %>
        <%= current_user.name %>
        <span class="sans"> is </span>a GA Apprenticeship Partner</p>
      <% else %>
        <%= current_user.name %>
        <span class="sans"> is not </span>a GA apprenticeship partner</p>
      <% end %>
  </div>

  <div id="menu">
    <ul>
      <li><span id="aboutButton">About</span></li>
      <li><span id="contactButton">Contact</span></li>
      <li><span id="mypostsButton">Our POSTs</span></li>
    </ul>
  </div>

  <div id="about">
    <p class="summary-text"><%= @current_user.summary %></p>
  </div>

  <div id="contact">
    <h2><%= current_user.name %></h2>
    <p><%= current_user.city + ", " + current_user.state unless current_user.city.nil? %></p>
    <p><%= "Company Type: " + current_user.company_type unless current_user.company_type.nil? %></p>
    <p><%= "Company Size: " + current_user.company_size unless current_user.company_size.nil? %></p>
    <p><%= "Phone: " + current_user.phone unless current_user.phone.nil? %></p>
    <p><%= "Email: " +current_user.email %></p>
    <p><%= "Website: " +  current_user.company_url unless current_user.company_url.nil? %></p>
  </div>

  <div id="myposts">
    <a name="my-posts"></a>
    <h3 class="my_posts">My POSTs:</h3>
   
    <% current_user.posts.each do |post| %>
      <div class="post-sm" >
        <h4><em>Hiring</em></h4>
        <p>Position: <span> <%= post.position_type %></span></p>
        <p>Description: <span><%= post.description %></span></p>
        <p>Date: <span><%= post.created_at.strftime("%b. %d %Y") %></span></p>
        <p><%= link_to "Make Big", post_path(post.id) %></p>
      </div>
    <% end %>
  </div>
  
</div>
