<div class="create_form"><h1 class = "create">Create a <%= current_user.type == "Student" ? "'Hire Me'" : "'We're Hiring'" %> Post:</h1>
  <hr /><br />

<% path = current_user.type == "Student" ? student_posts_path : employer_posts_path %>

<%= form_for @post, url: path, html: {method: "post"}, class: "submit" do |f| %>

  <%=f.hidden_field :user_id, value: current_user.id %>
  <%=f.hidden_field :for_hire, value: student? ? true : false %>  

  <%= f.label :position_type %>
  <%= f.select :position_type, ["Product Manager","Entrepreneur","Digital Marketer", "Founder/Co-Founder", "UX Designer", "Product Designer", "Full-Stack Developer", "Back-end Developer", "Front-end Developer"] %> <br /><br />

  <%= f.label :description %>
  <%= f.text_area(:description, size: '50x10') %>

  <%= f.hidden_field :skill_tag_list, value: "" %>

  
  <h4 id="tag-header">Skill Tags:</h4>
  <div class="skills_list"></div>

  <button id="submit-post">Submit Post</button>

<% end %> 
</div>

  <div class="tag-search">
    <!-- this form essentially only for add tag div -->
    <!-- actual skill_tag_list input value is in above form -->
    <%= form_tag post_path(@post.id), class: "tag-form" do %>
      <%= text_field_tag :skill_input %>
      <%= button_tag 'Add Tag' %>
    <% end %>
  </div>


<!-- User.tagged_with("awesome")
 -->
