<h2>search all posts</h2> 

<%= javascript_include_tag "radar_posts" %>

<div class="column-20">
  <p>Search by POST Type:</p>
  <ul id="filter_post_type" class="filtered" data-option-key="filter">                  
    <li><a href="#" data-type-value=".hiring" class="selected">Employee POSTs</a></li> 
    <li><a href="#" data-type-value=".for_hire">Student POSTs</a></li>              
  </ul>

  <hr /><br />
  <p>Search by Position Type:</p>
  <ul id="filter_all_posts" class="filtered" data-option-key="filter">                  
    <li><a href="#" data-option-value="*" class="selected">All Projects</a></li> 
    <li><a href="#" data-option-value=".product_man">Product Manager</a></li> 
    <li><a href="#" data-option-value=".entrep">Entrepreneur</a></li> 
    <li><a href="#" data-option-value=".digital">Digital Marketer</a></li> 
    <li><a href="#" data-option-value=".founder">Founder/Co-Founder</a></li> 
    <li><a href="#" data-option-value=".ux">UX Designer</a></li> 
    <li><a href="#" data-option-value=".product_des">Product Designer</a></li> 
    <li><a href="#" data-option-value=".full_dev">Full-Stack Developer</a></li> 
    <li><a href="#" data-option-value=".back_dev">Back-end Developer</a></li> 
    <li><a href="#" data-option-value=".front_dev">Front-end Developer</a></li>
  </ul>
  <hr /><br />

  <p>Filter by Tag:</p>
  <%= render 'search_form' %><br /><br />

  <hr /><br />

  <div id="tag_cloud">
    <h2>Tag Cloud</h2>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, posts_path, class: css_class %>
    <% end %>
  </div> 

</div> 

<section id="all_posts" class="isotope">
  <% @posts.each do |post| %> 
  <% type_of_position(post) %>
  <% type_of_post(post) %>

    <div class="post column-30 <%= @type_class %> <%= @job_class %>">
        <p><span> <%= post.user.name %> </span> IS </p>

        <p>A <div class="yellow"><span><%= post.position_type %> </span></div></p>

        <p> <%= student? ? "WITH EXPERIENCE IN" : "FOR HELP W/" %>: <div class="yellow"><span><%= post.description %></span></div></p>

        <p> SAY HI! <div class="yellow"><span><%= current_user.city + ", " + current_user.state unless current_user.city.nil? || current_user.city == "" %></span></div></p>

        <p><span><div class="yellow"><%= post.created_at %></span></div></p>
        
        <div class="tags" data-tags="<%= post.skill_tag_list.join(" ") %>">
          <p>Tags:<%= post.skill_tag_list %></p> 
        </div>
      
    </div> 
  <% end %> 
</section>
