<h2>search all posts</h2> 

<%= javascript_include_tag "radar_posts" %>

<div class="column-20">
  <h4>Search by POST Type:</h4>
  <ul id="filter_post_type" class="filtered" data-option-key="filter">                  
    <li><a href="#" data-type-value=".hiring" class="selected">Employee POSTs</a></li> 
    <li><a href="#" data-type-value=".for_hire">Student POSTs</a></li>              
  </ul>

  <hr /><br />
  <h4>Search by Position Type:</h4>
  <ul id="filter_all_posts" class="filtered" data-option-key="filter">                  
    <li><a href="#" data-option-value="*" class="selected">All Projects</a></li> 
    <li><a href="#" data-option-value=".product_man">Product Manager</a></li> 
    <li><a href="#" data-option-value=".entrep">Entrepreneur</a></li> 
    <li><a href="#" data-option-value=".digital">Digital Marketer</a></li> 
    <li><a href="#" data-option-value=".founder">Founder/Co-Founder</a></li> 
    <li><a href="#" data-option-value=".ux">UX Designer</a></li> 
    <li><a href="#" data-option-value=".product_des">Product Designer</a></li> 
    <li><a href="#" data-option-value=".full_dev">Full-Stack Developer</a></li> 
    <li><a href="#" data-option-value=".back_dev">Back-end Developer</a></li> 
    <li><a href="#" data-option-value=".front_dev">Front-end Developer</a></li>
  </ul>
  <hr /><br />

  <h4>Filter by Tag:</h4>
  <%= render 'search_form' %><br /><br />

  <hr /><br />

  <div id="tag_cloud">
    <h2>Tag Cloud</h2>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, posts_path, class: css_class %>
    <% end %>
  </div> 

</div> 

<section id="all_posts" class="isotope">
  <% @posts.each do |post| %> 
  <% type_of_position(post) %>
  <% type_of_post(post) %>

    <div class="post column-30 <%= @type_class %> <%= @job_class %>">
        <p><span> <%= post.user.name %> </span><span class="sans">IS A</span>
        <%= post.position_type %></p>

        <p><span class="sans"><%= post.user.type == "Student" ? "WITH EXPERIENCE IN" : "FOR HELP W/" %>:<br /></span><span class="description"><%= post.description %></span></p>

        <p><span class="sans">SAY HI!</span><br /><span><%= link_to post.user.name + "'s Page", post.user.type == "Student" ? student_path(post.user.id) : employer_path(post.user.id)%></span></p>

        <p><span class="sans">Created on: </span><span><%= post.created_at.strftime("%b. %d %Y") %></span></p>
        
        <div class="tags" data-tags="<%= post.skill_tag_list.join(" ") %>">
          <p><span class="sans">Tags: </span><%= post.skill_tag_list %></p> 
        </div>
       <p class="fullpost"><%= link_to "Full POST", post_path(post.id) %></p>
    </div> 
  <% end %> 
</section>
