<div class="post">
  <p><span> <%= current_user.name %> </span> IS LOOKING FOR WORK AS </p>

  <p>A <span><%= @post.position_type %> </span></p>

  <p> <%= student? ? "WITH EXPERIENCE IN" : "FOR HELP W/" %>:<br><span><%= @post.description %></span></p>

  <p> SAY HI!<br><span><%= current_user.email%></span></p>

  <p>Posted on: <span><%= @post.created_at.strftime("%b. %d %Y") %></span> from <span><%= current_user.city + ", " + current_user.state unless current_user.city.nil? || current_user.city == "" %></span></p>

  <%= link_to "Delete Post", student? ? student_post_path(current_user.id, @post.id) : employer_post_path(current_user.id, @post.id), method: :delete %>
</div> 



