<!DOCTYPE html>
<html>
<head>
  <title>Radar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>GA Radar</h1>
    <nav>
      <ul class="dropdown"> 
        <% if logged_in? %> 
        <% #TODO add search functional pages; placeholders being used below %>
          <!-- Search Dropdown Menu -->
          <li><%= link_to "Search", current_user.type == "Student" ? search_students_path : search_employers_path %>
            
            </li>
            <!-- POST Dropdown Menu -->
            <li><%= link_to "Job Board", current_user.type == "Student" ? new_student_post_path(current_user) : new_employer_post_path(current_user) %>
              <ul>
                 <li><%= link_to "Create New POST", current_user.type == "Student" ? new_student_post_path(current_user) : new_employer_post_path(current_user) %></li>
                 <li><%= link_to "See Your POSTs", current_user.type == "Student" ? student_path(current_user) : employer_path(current_user) %></li>
              </ul>
            </li>
            <!-- User Profile Dropdown Menu -->
            <li><%= link_to current_user.name, current_user.type == "Student" ? student_path(current_user) : employer_path(current_user) %>
              <ul>
                <li><%= link_to "View Profile", current_user.type == "Student" ? student_path(current_user) : employer_path(current_user) %></li>
                <li><%= link_to "Edit Account", current_user.type == "Student" ? edit_student_path(current_user) : edit_employer_path(current_user) %></li>
              </ul>
            </li>
            <li><%= link_to 'Logout', session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Login', new_session_path %></li>
        <% end %> 
      </ul> 
    </nav> 
  </header>

  <div id="content">
  <%= yield %>
  </div>

</body>
</html>
